<div class="col-3">
    <div class="cardAlbumProfile">
    <div class="cardAlbumProfile__img w-100 position-relative">
        <img src="https://i.pinimg.com/564x/35/a1/a5/35a1a5c5593e69db0dfc800a12c5bccc.jpg" alt="" class="cardAlbumProfile__img-img w-100 h-100" />
        <div class="cardAlbumProfile__img-amount d-flex flex-column align-items-center rounded-circle justify-content-center">
            <span>10</span>
            <span>PHOTOS</span>
        </div>
    </div>
    <span class="cardAlbumProfile__title">Album</span>
</div>
</div>