<div class="col-3">
    <div class="cardImgProfile">
         <%= image_tag(photo.source, class:'cardImgProfile__img w-100') %>
        <span class="cardImgProfile__title"><%= photo.title %></span>
    </div>
</div>