<div class="col-3">
    <div class="cardPhotoAdmin position-relative">
        <div class="cardPhotoAdmin__heading d-flex">
            <h3 class="cardPhotoAdmin__heading-title">title tab_albums aaaaaaaaaaa</h3>
            <button class="cardPhotoAdmin__heading-edit bg-transparent border-0">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
        </div>
        <img src="https://khoinguonsangtao.vn/wp-content/uploads/2022/10/hinh-anh-gai-xinh-chau-au-my.jpg" class="cardImgProfile__img w-100">
    </div>
</div>