<div class="contentProfile col-xl-2 col-xl-8 col-md-9">
    <div class="contentProfile__top ">
        <%=render "shared/personal_profile"%>
    </div>
    <div class="contentProfile__bot">
        <div class="row">
            <% 8.times do |ele| %>
                <%= render "components/card_album_profile"%>
            <%end%>
        </div>
    </div>
</div>