<div class=" contentFoto col-xl-2 col-xl-8 col-md-9">
    <div class="row">
        <% 4.times.each  do |ele| %>
            <%= render 'components/card_album_admin' %>
        <%end%>
    </div>
</div>