<div class="contentProfile col-xl-2 col-xl-8 col-md-9">
    <div class="contentProfile__top ">
        <%=render "shared/personal_profile"%>
    </div>
    <div class="contentProfile__bot">
        <div class="row">
            <% @list_album.each do |ele| %>
                <% if @infors[0] == current_user %>
                    <%= render "components/card_album_profile", user: @infors[0] , album: ele%>
                <% elsif ele.mode == 'Public' %>
                    <%= render "components/card_album_profile", user: @infors[0] , album: ele%>
                <%end%>
            <%end%>
        </div>
    </div>
</div>