
.contentFoto{
    margin: 25px 0 10px 0;
    border-radius: 20px;
    background-color: white;
}
.contentFoto__heading{
    margin-top: 30px;
}
.contentFoto__heading-group{
    border: none !important;
}
.btn-Photo,.btn-Album{
    font-weight: 600 !important;
}

.contentFoto__body{
    padding: 0 20px;
    max-height: 800px;
}
.contentFoto__footer{

}





.sidebarLeft{

    
}

.sidebarLeft__list-item
{
    margin: 10px 0 ;
    cursor: pointer;
    font-size: 18px;
}
.sidebarLeftListItem__link{
    color: var(--text-sidebar-color);
   
}
.active{
    color: var(--text-acive-color);
}

.sideBarRight{

}
