 <header class="header fixed-top d-flex align-items-center justify-content-between ">
    <div class="header__left d-flex align-items-center ">
        <span class="header__left-logo text-white fw-bold">
            Fotobook
        </span>
        <input class="header__left-search" placeholder="Search Photo / Album">
    </div>
    <div class="header__right d-flex align-items-center ">
        <%= link_to 'Login', login_path, class:'header__right-logout text-white fw-bold text-decoration-none' %>
    </div>
</header>